# Entorno virtual
venv/
__pycache__/

# Archivos sensibles
.env
credenciales_google.json

# Archivos temporales o de salida
*.pyc
*.pyo
#*.pdf
*.html
reporte.pdf
temp_reporte.html

# Configuración local de VSCode
.vscode/
